# Compose variable file for local Sonderborg setup
HOSTNAME=meshcentral-dev.sonderborg.dk
RUNTIME_ENV_FILE=.env.local

# Runtime variables consumed by meshcentral container
NODE_ENV=production
DYNAMIC_CONFIG=false
GITHUB_TOKEN=
INCLUDE_MONGODB_TOOLS=false
INCLUDE_POSTGRESQL_TOOLS=false
INCLUDE_MARIADB_TOOLS=false
PREINSTALL_LIBS=false
INSTALL_STYLISHUI=true
STYLISHUI_FORCE_LATEST=true
