# ─── Runtime ────────────────────────────────────────────────────────────────
NODE_ENV=production
DYNAMIC_CONFIG=false

# Used by Caddy (see Caddyfile). Must match settings.cert in config.json.
HOSTNAME=meshcentral.example.com

# Required by ssbconfig plugin to call GitHub API.
GITHUB_TOKEN=

# ─── Docker image options ────────────────────────────────────────────────────
INCLUDE_MONGODB_TOOLS=false
INCLUDE_POSTGRESQL_TOOLS=false
INCLUDE_MARIADB_TOOLS=false
PREINSTALL_LIBS=false

# Stylish UI
INSTALL_STYLISHUI=true
STYLISHUI_FORCE_LATEST=true
